# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio stuff
*.suo
*.vcproj.*
*.ncb

*.sublime-workspace

# Qt Stuff
Makefile
moc_*
qrc_*
ui_*
